*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Montserrat";
}
.brand{
    font-family: "Fraunces";
    font-weight: 700;
    word-spacing: 2px;
}
.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}
.card{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    max-width: 600px;
    border-radius: 10px;
}
.title{
    margin-bottom: 1rem;
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    letter-spacing: 6px;
    font-weight: 700;
    font-size: 14px;
}
.card-image{
   min-width:300px;
    height: 450px;
    background: url("./images/image-product-desktop.jpg");
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
}
.card-info{
   padding: 2rem;
}
.pricing{
    color: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 1.6rem 0rem;
    font-family: "Fraunces";
    font-weight: 700;
}
.discription{
    margin: 1.3rem 0rem;
}
.pricing .marked{
    font-size: 2rem;
    font-weight: 700;
}
.str{
    text-decoration: line-through;
}
.btn img{
    margin-right: 0.4rem;
}
.btn{
    display: block;
    padding: 0.8rem 3rem;
    width: 100%;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: 700;
    margin-top: 0rem 0rem;
    font-size: 14px;
    cursor: pointer;
    background-color:  hsl(158, 36%, 37%);
}
.btn:hover{
 background-color: hsl(157, 69%, 13%);
}
p{
    font-size: 14px;
    color: hsl(228, 12%, 48%); 
    line-height: 1.5rem;
    font-weight: 500;
}
@media(max-width:600px){
    .title{
        margin-bottom: 0.4rem;
    }
    .discription{
        margin: 0.5rem 0;
    }
    .pricing{
        margin: 0.5rem 0rem;
    }
    .card{
        margin-top: 0rem;
        flex-direction: column;
        width: 94%;
    }
    .card-image{
        background: url('./images/image-product-mobile.jpg');
        background-position: center;
        background-size: cover;
        height: 260px;
        border-radius: 10px 10px 0px 0px;
    }
}